Flask
Flask-SQLAlchemy
Flask-Admin
Flask-RQ
git+https://github.com/hasgeek/coaster.git
git+https://github.com/hasgeek/flask-lastuser.git
git+https://github.com/hasgeek/baseframe.git
SQLAlchemy>=0.9
progressbar2
nltk
numpy
requests
unidecode
rq-dashboard>=0.3.8
Flask-Migrate
