Flask==1.0.3
Flask-SQLAlchemy==2.4.0
Flask-Admin==1.5.3
Flask-RQ==0.2
git+https://github.com/hasgeek/coaster.git
git+https://github.com/hasgeek/flask-lastuser.git
git+https://github.com/hasgeek/baseframe.git
SQLAlchemy>=0.9
progressbar2==3.39.3
nltk==3.4.1
requests==2.22.0
unidecode==1.0.23
Flask-Migrate==2.5.0
