Flask==2.0.1
Flask-RQ2==18.3
Flask-SQLAlchemy==2.5.1
git+https://github.com/hasgeek/coaster.git
git+https://github.com/hasgeek/flask-lastuser.git
git+https://github.com/hasgeek/baseframe.git
SQLAlchemy==1.4.17
progressbar2==3.53.1
nltk==3.6.2
requests==2.25.1
unidecode==1.2.0
rq-dashboard==0.6.1
Flask-Migrate==3.0.1
